{% load todo_extras %}

<div class="shop-item">
  <div class="shop-item-image card-img-top">
    <img src="{{ note.movie.poster }}" alt="{{ note.movie.title }}" />
    <div class="shop-item-detail">
      <a href="{% url 'todo:detail' note.id %}" class="btn btn-round btn-b">
        <span class="icon-search"> View details</span>
      </a>
    </div>
  </div>
  <h4 class="shop-item-title">
    <div class="text-truncate">
      <a href="{% url 'todo:detail' note.id %}">{{ note.movie.title }}</a>
    </div>
  </h4>
  <div class="shop-item-meta">
    {{ note.movie.year }} | Rating KP: {{ note.movie.rating_kinopoisk|format_rating }}
  </div>
</div>
