{% extends 'todo/base.html' %}
{% load static %}
{% load todo_extras %}

{% block content %}
    <section class="home-section home-parallax home-fade home-full-height bg-dark-30" id="home"
             data-background="{% static 'todo/images/image.png' %}">
        <div class="titan-caption">
            <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Seek &amp; save</div>
                <div class="font-alt mb-40 titan-title-size-3">Find film and save it</div>
                <a class="section-scroll btn btn-border-w btn-round" href="#search">Search film</a>
            </div>
        </div>
    </section>
    <div class="main">
    <div class="module-small bg-dark" id="search">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                    <div class="callout-text font-alt">
                        <h3 class="callout-title">Enter movie</h3>
                        <p>Add your film here by name</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="callout-btn-box">
                        <form method="post" action="{% url "todo:preview" %}">
                            {% csrf_token %}
                            <div class="input-group">
                                {{ form.title }}<span class="input-group-btn">
                        <button class="btn btn-g btn-round" type="submit">Search</button></span>
                            </div>
                        </form>
                        <div class="text-center" id="subscription-response"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="module" id="notes">
        {% if note_list %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Watch later</h2>
                    </div>
                </div>
{#                <div class="container">#}
{#                    <div class="row">#}
{#                      <div class="col-sm-12">#}
{#                        <ul class="filter font-alt" id="filters">#}
{#                          <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>#}
{#                          <li><a class="wow fadeInUp" href="#" data-filter=".комедия" data-wow-delay="0.2s">Comedy</a></li>#}
{#                          <li><a class="wow fadeInUp" href="#" data-filter=".боевик" data-wow-delay="0.4s">Action</a></li>#}
{#                          <li><a class="wow fadeInUp" href="#" data-filter=".фантастика" data-wow-delay="0.6s">Fantastic</a></li>#}
{#                          <li><a class="wow fadeInUp" href="#" data-filter=".триллер" data-wow-delay="0.6s">Thriller</a></li>#}
{#                        </ul>#}
{#                      </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="movie-cards-row movie-cards-row--3">
                    {% for item in note_list %}
                        <div class="movie-cards-cell">
                            {% include 'todo/includes/movie_card.html' with note=item %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
