{% extends 'todo/base.html' %}

{% block content %}
    {% block search_block %}
        <div class="container">
            <div>
                <h1>Find your film here by kinopoisk id</h1>
                <form action="{% url "todo:preview_note" %}" method="post">
                    {% csrf_token %}
                    {{ form.id_kinopoisk }}
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block note_list %}
        {% if note_list %}
        <h2>A list with your saved movies</h2>
        <section id="todo_list">
            <div class="container">
                <form action="{% url "todo:index" %}" method="get">
                {% csrf_token %}
                    <div class="row">
                        <ul>
                            {% for item in note_list %}
                                <li>
                                    <div class="menu-desc text-center">
                                        <hr>
                                        <h3>{{ item.movie.title }}</h3>
                                            <div>
                                                <img src="{{ item.movie.poster }}" width="165" height="250" alt="{{ item.movie.title }}">
                                                <h3>Year: {{ item.movie.year }}</h3>
                                                <p>Description: {{ item.movie.description }}</p>
                                                <a href="/detail/{{ item.id }}">Detail about note</a>
                                            </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
            </div>
        </section>
    {% endif %}
    {% endblock %}
{% endblock %}
