{% extends 'todo/base.html' %}
{% load static %}
{% load todo_extras %}

{% block preview %}
  <div class="main">
    <section class="module bg-dark-60 shop-page-header" data-background="{% static 'todo/images/preview.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Found movies</h2>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module-small">
      <div class="container">
        <div class="row">
            {% for item in movies %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    {% include 'todo/includes/preview_card.html' with movie=item %}
                </div>
            {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
