{% extends 'todo/base.html' %}

{% block note %}
    <div class="container">
        <a href="{{request.META.HTTP_REFERER}}">Go back</a>
        <div class="row">
            <ul>
                {% for item in movies %}
                {% csrf_token %}
                <li>
                    <div class="menu-desc text-center">
                        <hr>
                        <h3>{{ item.film }}</h3>
                            <div>
                                <img src="{{ item.poster }}" width="165" height="250" alt="{{ item.film }}">
                                <h3>Year: {{ item.year }}</h3>
                                <h4>Rating: {{ item.rating_kp }}</h4>
                                <p>Description: {{ item.description }}</p>
                            </div>
                    </div>
                </li>
                    <a href="/preview/{{ item.id_kinopoisk }}">Add to the list</a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
